.left-content {
    width: 30%;
    height: 100%;
    text-align: center;
    position: fixed;
    background-image: url(http://oom122w4d.bkt.clouddn.com/b48cacab-fdc4-dce0-1cb5-7129d00b);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    width: 65%;
    float: left;
    margin-left: 30.6%;
    padding: 3%;
    padding-top: 0;
    padding-right:0;
    position: relative;
}

.head-img {
    height: 15%;
    padding: 0 10%;
    margin-top: 20%;
    text-align: center;
}

.head-img img {
    width: 100px;
    border-radius: 100%;
}

.article {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
    border-bottom: solid 1px whitesmoke;
}

.article:hover {
    opacity: 0.5;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: right;
}

.image {
    width: 100%;
    display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.article-title {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.js-article-title {
    border: none;
    line-height: 28px;
    outline: 0;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}

.tool-bar {
    border: 1px solid #ccc;
}

.editor-content {
    min-height: 800px;
}

.mind-manager-content ul {
    list-style-type: none;
}

.mind-manager-content li {
    margin: 10px 0;
}

.mind-manager-content ul {
    padding-left: 20px;
    margin-left: 20px;
    border-left: dashed 1px #ccc;
}

.mind-manager-content .tag {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    font-size: 15px;
    text-align: center;
    border: none;
    outline: none;
}

.mind-manager-content .tag:hover{
    text-decoration: underline;
}

.mind-manager-operate-group {
    display: inline-block;
}

.mind-manager-operate-group button {
    margin-left: 10px;
}

.mind-manager-content {
    padding: 15px;
}

.fl {
    display: inline-block;
}

.root-group {
    padding: 5px;
    background-color: yellowgreen;
    border-radius: 5px;
}

.login-content {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: whitesmoke;
    width:50%;
    height: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-image: url("http://oom122w4d.bkt.clouddn.com/2dcbeec0-8e78-0d58-6a78-46348176");
    background-size:100% 100%;
}

.login-content .login-input{
    width: 20rem;
    line-height: 25px;
    outline: none;
    border: solid 1px white;
    font-size: 100%;
    margin-left: 30px;
}

.login-head {
    text-align: center;
}

.login-input-group {
    text-align: center;
}

.btn-login {
    display: inline-block;
    width: 100px;
    height: 100%;
}

#login-body {
    background-image: url(http://oom122w4d.bkt.clouddn.com/2dcbeec0-8e78-0d58-6a78-46348176);
    background-size: 100% 100%;
    background: powderblue;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.footer {
    width: 65%;
}

.blog_list_show {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: lawngreen;
    display: none;
}

code {
    display: block;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 0 3px;
}

pre {
    overflow: auto;
}

.blog-comment-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px whitesmoke;
}

.blog-comment-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 50px;
}

.blog-comment-reply-item {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px whitesmoke;
}

.blog-comment-reply-content {
    padding-left: 50px;
}

.blog-comment-text{
    outline: 0;
    border: 0;
    line-height: 28px;
    border-bottom: solid 1px whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1rem;
}

.blog-comment-block {
    display: none;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.blog-comment-reply-block {
    display: none;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.js-show-blog-comment-block {
    text-align: center;
    cursor: pointer;
}

.js-show-blog-comment-block:hover{
    background-color: lightgray;
}

.blog-comment-block-area {
    width: 99%;
    height: 100px;
    resize: vertical;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    outline: 0;
    font-size: 1rem;
}

.comment-button-group {
    float: right;
}

.comment-button-group span {
    cursor: pointer;
}

.btn-close {
    float: right;
    cursor: pointer;
}

.my-button {
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: powderblue;
    cursor: pointer;
}

.blog-comment-list a {
    text-decoration: none;
}